{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
  <script src="https://kit.fontawesome.com/4eee35f757.js"></script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include_cached search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include_cached search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include_cached search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% if site.dynamic-typing == true %}

<!-- Dynamic Typing Start -->

<script type="text/javascript" src="{{site.baseurl}}/assets/js/typed/typed.min.js"></script>
<script type="text/javascript">
    var myQuotes =  new Array();
    {% for line in site.typed_lines %}
    myQuotes.push("{{ line.text }}");
    {% endfor %}
    function shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex ;
        // While there remain elements to shuffle...
        while (0 !== currentIndex) {
            // Pick a remaining element...
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;
            // And swap it with the current element.
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }
        return array;
    }
    {% if site.shuffle %}
    shuffle(myQuotes)
    {% endif %}
    $(".intro-text").typed({
        strings: myQuotes,
        typeSpeed: {{ site.type-speed }},
    backDelay: {{ site.delete-delay }},
    startDelay: {{ site.start-delay }},
    loop: {{ site.loop }},
    loopCount: {{ site.loop-count }},
    cursorChar: "|"
    });
</script>

<!-- Dynamic Typing End  -->

{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% endif %}
