#typed {
  margin-top: 10em;
  text-align: center;
  color: #a8b7bf;
}

.typed-img {
  width: 7em;
  height: auto;
  margin-top: 1em;
  border: 1px solid;
  padding: 0.2em;
  border-radius: 50%;
}

.round-img {
  border-radius: 50%;
}

.typed-cursor {
  animation: blink 1s linear infinite;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#timeline {
  margin-top: 2em;
}

#timeline-figure {
  margin-top: 5em;
}

#timeline-archive {
  padding-right: 0;
}

.round-div {
  background: inherit;
  border: 1px solid;
  //margin-left: 3em !important;
}

.about-footer {
  margin-left: 33%;
}

.singlewide {
  width: 100%;
}

table.latencies {
  display: inline-table;
}

.fullwidth {
  padding-right: 0px;
}

td:nth-child(1) {
  text-align: left; /* NEW */
}

td:last-child {
  text-align: right; /* NEW */
}

.left-split {
  width: 49%;
  float: left;
  text-align: center;
}

.right-split {
  margin-left: 51%;
  width: 49%;
  text-align: center
}

.hwt-container {
  position: relative;
  overflow: hidden !important;
  -webkit-text-size-adjust: none !important;
  text-align: left;
  background-color: #0e0328;
  font-family: $sans-serif;
}

.hwt-backdrop {
  position: absolute !important;
  top: 0 !important;
  right: -99px !important;
  bottom: 0 !important;
  left: 0 !important;
  padding-right: 99px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.hwt-highlights {
  width: auto !important;
  height: auto !important;
  border-color: transparent !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  color: transparent !important;
  overflow: hidden !important;
}

.hwt-input {
  display: block !important;
  position: relative !important;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font: inherit;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.hwt-content {
  background: none transparent !important;
}

.hwt-content mark {
  padding: 0 !important;
  color: inherit;
}



mark.jwt-error {
  background-color: indianred;
}

mark.jwt-payload {

}

mark.jwt-header {

}

mark.jwt-signature {

}

textarea {
  overflow-y: auto;
  margin:50px auto;

}

.blue-text, mark.blue-text{
  color: #0099a1 !important;
  background-color: inherit;
}

.blue-bg {
  background-color: #004d53 !important;
}

.ping-text, mark.ping-text{
  color: #ff43a0 !important;
  background-color: inherit;

}

.ping-bg {
  background-color: #942450 !important;
}